.developments-page {
    padding: 0px;
}

.developments-header {
    text-align: center;
    position: relative;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}

.developments-header h1 {
    position: absolute;
    top: 42%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 28px;
    z-index: 2;
}

.breadcrumb {
    text-align: left;
    margin-bottom: 10px;
}

.breadcrumb-link {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.developments-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin-top: 100px;
    padding: 0 40px; /* Добавляем отступы слева и справа */
    margin-bottom: 70px;
}

.development-item {
    width: 27%; /* Уменьшаем ширину карточек */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.development-image {
    width: 100%;
    height: 400px;
    object-fit: contain; /* Заставляет изображение покрывать весь контейнер */
    object-position: center; /* Центрирует изображение в контейнере */
    display: block;
}
.development-info {
    padding: 15px;
}

.development-detail-link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.development-detail-link:hover {
    text-decoration: underline;
}