.development-detail-page {
    padding: 0px;
}

.development-header {
    text-align: center;
    position: relative;
}

.development-header h1 {
    position: absolute;
    top: 42%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 28px;
    z-index: 2;
}

.development-detail-content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Выравниваем текст по левому краю */
    margin-top: 100px;
    
}

.development-detail-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Центрируем заголовок */
}

.development-detail-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
    text-align: left;
}