.header {
  width: 100%;
  position: absolute; /* Хедер будет располагаться поверх контента */
  top: 0;
  left: 0;
  z-index: 1000; /* Убедитесь, что хедер находится выше остальных элементов */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0); /* Прозрачный хедер */
}

.logo-container {
  margin-left: 140px; /* Сдвиг логотипа вправо */
}

.navigation a {
  color: white; /* Цвет текста в навигации */
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out; /* Добавляем плавный переход для цвета */
}

.navigation a:hover {
  color: aliceblue; /* Цвет при наведении */
}

/* Дополнительно можно добавить эффект для других состояний */
.navigation a:focus,
.navigation a:active {
  color: aliceblue; /* Цвет при фокусе или нажатии */
}

.logo img {
  max-height: 50px;
}

/* Добавьте отступ для контента страницы, чтобы он не перекрывался хедером */
.page-content {
  padding-top: 80px; /* Отступ сверху, равный высоте хедера */
}

.language-switch {
  display: flex;
  align-items: center;
  color: white;
  margin-left: auto; /* Сдвигает весь блок language-switch вправо */
  padding-right: 200px; /* Отступ справа для language-switch */
}

.language-switch .fa-globe {
  margin-left: -10px; /* Сдвигает значок глобуса левее */
  margin-bottom: -45px;
}

.language-switch span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -45px;
}
