.news-detail-page-container {
  padding-top: 0;
}

.news-detail-header-container {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.news-detail-header-image {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  margin-bottom: 20px;
}

.news-detail-header-container h1 {
  position: absolute;
  top: 40%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 42px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 28px;
  z-index: 2;
}

.news-detail-content-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 100px; /* Сохранено для создания пространства внизу */
}

.news-detail-item-container {
  background-color: #d9d9d9;
  padding: 30px;
  border-radius: 0px;
  max-width: 1120px;
  width: 100%;
  height: auto;
  position: relative; /* Обеспечивает, что позиционирование будет относительно этого контейнера */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-detail-date-container {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.news-detail-title-container {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #007bff;
  margin-bottom: 20px;
  white-space: normal; /* Обеспечивает перенос текста на следующую строку */
  width: 100%; /* Контейнер занимает всю доступную ширину */
  max-width: 100%; /* Убирает ограничение по ширине */
  overflow-wrap: break-word; /* Переносит длинные слова */
  word-wrap: break-word; /* Переносит длинные слова */
}

.news-detail-description-container {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}
