<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить сотрудника</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добавить сотрудника</h1>
        <form action="{{ url_for('admin.admin_add_employee') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </div>
            <div>
                {{ form.surname.label }}<br>
                {{ form.surname(size=32) }}
            </div>
            <div>
                {{ form.patronymic.label }}<br>
                {{ form.patronymic(size=32) }}
            </div>
            <div>
                {{ form.vacancy.label }}<br>
                {{ form.vacancy(size=32) }}
            </div>
            <div>
                {{ form.photo.label }}<br>
                {{ form.photo() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        <a href="{{ url_for('admin.admin_employees') }}" class="btn_back">Назад к сотрудникам</a>
    </div>
</body>
</html>
