<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать сотрудника</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Редактировать сотрудника</h1>
        <form action="{{ url_for('admin.admin_edit_employee', id=employee.id) }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="name">{{ form.name.label }}</label><br>
                {{ form.name(class_='form-control', size=32) }}
            </div>
            <div class="form-group">
                <label for="surname">{{ form.surname.label }}</label><br>
                {{ form.surname(class_='form-control', size=32) }}
            </div>
            <div class="form-group">
                <label for="patronymic">{{ form.patronymic.label }}</label><br>
                {{ form.patronymic(class_='form-control', size=32) }}
            </div>
            <div class="form-group">
                <label for="vacancy">{{ form.vacancy.label }}</label><br>
                {{ form.vacancy(class_='form-control', size=32) }}
            </div>
            <div class="form-group">
                <label for="photo">{{ form.photo.label }}</label><br>
                {{ form.photo(class_='form-control-file') }}
            </div>
            <div class="form-group">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
        <a href="{{ url_for('admin.admin_employees') }}" class="btn btn-secondary btn_back">Назад к сотрудникам</a>
    </div>
</body>
</html>
