<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать новость</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Редактировать новость</h1>
        <form action="{{ url_for('admin.admin_edit_news', id=news.id) }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="title">{{ form.title.label }}</label><br>
                {{ form.title(class_='form-control') }}
            </div>
            <div class="form-group">
                <label for="content">{{ form.content.label }}</label><br>
                {{ form.content(class_='form-control') }}
            </div>
            <div class="form-group">
                <label for="date">{{ form.date.label }}</label><br>
                {{ form.date(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
        <a href="{{ url_for('admin.admin_news') }}" class="btn btn-secondary btn_back">Назад к новостям</a>
    </div>
</body>
</html>
