<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Административная панель</h1>
        <ul>
            <li><a href="{{ url_for('admin.admin_news') }}">Управление новостями</a></li>
            <li><a href="{{ url_for('admin.admin_vacancies') }}">Управление вакансиями</a></li>
            <li><a href="{{ url_for('admin.admin_employees') }}">Управление сотрудниками</a></li>
        </ul>
    </div>
</body>
</html>
