<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('admin.admin_index') }}" class="btn_back">Назад в админку</a>
        <h1>Новости</h1>
        <a href="{{ url_for('admin.admin_add_news') }}" class="btn_add">Добавить новость</a>
        <ul>
            {% for news in news_list %}
                <li>
                    <a href="{{ url_for('admin.admin_view_news', id=news.id) }}">{{ news.title }}</a> 
                    <a href="{{ url_for('admin.admin_edit_news', id=news.id) }}" class="btn_edit">Редактировать</a>
                    <form action="{{ url_for('admin.admin_delete_news', id=news.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn_delete">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
    </div>
</body>
</html>
